@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

::-webkit-scrollbar {
	width: 1vw;
	position: relative;
	right: 1vw;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #999;
	border-radius: 0.5vw;
}

::-webkit-scrollbar-thumb:hover {
	background: #777;
}

body {
	font-size: 3vh;
	font-family: Dosis;
	margin: 0;
	background-color: #444;
	color: #ccc;
	overflow-y: scroll;
}

button,
input,
textarea {
	font: inherit;
	color: inherit;
	background-color: inherit;
	border-width: 0.3vh;
}

button {
	border-radius: 1vh;
	box-sizing: border-box;
	height: fit-content;
}

input,
textarea {
	padding-left: 0.5vw;
}

textarea {
	resize: none
}

#topnav {
	background-color: #888;
	font-size: 2vh;
	padding: 1vh 1vw 1vh 1vw;
	text-align: right;
}

.btnlink {
	text-decoration: none;
	color: inherit;
	background-color: #555;
	margin: 0;
	padding: 1vh 0.5vw 1vh 0.5vw;
}

#title {
	font-size: 10vh;
	text-align: center;
	margin: 0;
}

.widget {
	left: 50%;
	border-radius: 1vh;
	border: 0.5vh solid #666;
	text-align: center;
	margin-top: 3vh;
	margin-bottom: 3vh;
}

.widget>* {
	margin-top: 1vh;
	margin-bottom: 1vh;
}

#status {
	min-height: 1vh;
	height: fit-content;
	max-height: 6vh;
}

#status.load {
	color: #666;
}

#status.fail {
	color: #f22;
}