#signinupwidget {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 30vw;
	min-height: 10vh;
	max-height: 40vh;
	height: fit-content;
	padding: 1vh 2vw 0 2vw;
}

#username,
#password {
	width: 28.5vw;
	height: 7vh;
}

#continue {
	width: 13vw;
	min-height: 5vh;
	max-height: 10vh;
}